body {
    font-family: inter, sans-serif; /* Change the font family as needed */
    font-size: 50px; /* Adjust the font size */
    line-height: 1.6; /* Adjust the line height */
    color: #ffffff; /* Change the text color */
    background-color: #16183f;
}

.fixed-navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #16183f;
    padding: 10px 20px;
    z-index: 1000;
    
}

.fixed-navbar .list2 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.fixed-navbar .list2 li {
    margin-right: 20px;
}

.fixed-navbar a {
    color: white;
    text-decoration: none;
}

.logo {
    height: 55px;
    margin-right: 20px;
    margin-top: -15px; /* Adjust this value as needed */
}


.list2 a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.list2 a.order-button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 60px;
    background-color: orange;
    color: white;
    text-decoration: none;
    margin-top: -15px; 
}

footer {
    width: 100%;
    background-color: #16183f; /* Change the background color as needed */
    padding: 20px 0; /* Adjust padding as needed */
    font-size: 50px;
}

footer table {
    width: 100%;
    table-layout: fixed;
}

footer table td {
    width: 33.33%; /* Equal width for each column */
    text-align: center;
    padding: 0 10px; /* Adjust padding as needed */
    margin-top: 1000px; /* Decreased margin-top to lower the footer */
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px; /* Adjust margin as needed */
}



.custom-hr {
    border: 10px solid #ccc; /* Change the border color */
    margin-top: 20px; /* Add space above the horizontal line */
}

.enlarged.text {
    font-size: 15px;
}
/* Style for the slideshow container */
.slideshow-container {
    width: 100%; /* Spanning the width of the webpage */
    overflow: hidden; /* Prevent images from overflowing */
    position: relative; /* Establishing a positioning context */
    height: 100vh; /* Set height to 100% of the vertical viewport height */
}

/* Style for the images within the slideshow */
.slideshow-container img {
    width: 100%; /* Allow the width to adjust automatically */
    height: 50%; /* Ensure images fill the container vertically */
    object-fit: cover; /* Prevent images from being stretched */
    position: absolute; /* Position images absolutely within the container */
    top: 0; /* Position images at the top of the container */
    left: 0; /* Position images at the left of the container */
    opacity: 0; /* Hide all images by default */
    transition: opacity 0.5s ease; /* Add a transition effect */
}

/* Style for the active image */
.slideshow-container img.active {
    opacity: 1; /* Show active image */
}
